<template>
  <div class="login-card">
    <n-tabs type="segment">
      <n-tab-pane name="signin" tab="會員登入" class="<desktop:text-[20px]">
        <div class="pane">
          <QuickAuth type="signin" />
          <n-divider class="divider">
            或一般登入
          </n-divider>
          <LoginForm />
        </div>
      </n-tab-pane>
      <n-tab-pane name="signout" tab="會員註冊">
        <div class="pane">
          <QuickAuth type="signup" />
          <n-divider class="divider">
            或一般註冊
          </n-divider>
          <LoginForm />
        </div>
      </n-tab-pane>
    </n-tabs>
  </div>
</template>

<script setup>
import QuickAuth from './QuickAuth.vue'
import LoginForm from './LoginForm.vue'
import { NTabs, NTabPane, NDivider } from 'naive-ui/es'
</script>

<style lang="postcss" scoped>
:deep(.n-tabs-nav) {
  @apply !h-[66px];
}
:deep(.n-tabs-rail) {
  @apply p-0 gap-[2px];
}
:deep(.n-tabs-tab-wrapper) {
  @apply h-full;
}
:deep(.n-tabs-tab) {
  @apply h-full text-[26px] !bg-[#CCE3FF] text-[#0075FF] !rounded-none shadow-none;
}
:deep(.n-tabs .n-tabs-rail .n-tabs-tab-wrapper .n-tabs-tab.n-tabs-tab--active) {
  @apply !bg-[#0075FF] text-white;
}
:deep(.n-tabs-tab__label) {
  @apply <desktop:text-[20px];
}
.login-card {
  @apply rounded-[20px] w-full max-w-[620px] overflow-hidden bg-white;
  box-shadow: 0px 13px 31px rgba(12, 20, 33, 0.04), 0px 9.45547px 20.8947px rgba(12, 20, 33, 0.032375), 0px 6.58125px 13.5141px rgba(12, 20, 33, 0.027), 0px 4.31641px 8.38574px rgba(12, 20, 33, 0.023125), 0px 2.6px 5.0375px rgba(12, 20, 33, 0.02), 0px 1.37109px 2.99707px rgba(12, 20, 33, 0.016875), 0px 0.56875px 1.79219px rgba(12, 20, 33, 0.013), inset 0px 2px 1px #FFFFFF;
}
.divider {
  @apply mt-[20px] mb-[12px] lg:my-[24px];
}
.pane {
  @apply px-[14px] pt-[24px] pb-[32px] lg:(px-[37px] py-[40px]);
}
</style>
