<template>
  <div class="login">
    <section class="panel left-panel">
      <h1>Welcome</h1>
      <LoginCard />
    </section>
    <section class="panel right-panel" />
  </div>
</template>

<script setup>
import LoginCard from './components/LoginCard.vue'
</script>

<style lang="postcss" scoped>
h1 {
  @apply text-[44px] mb-[48px] lg:(text-[52px] mb-[55px]);
  @apply text-white lg: text-[#333333];
}
.login {
  @apply flex w-full h-full;
}
.panel {
  @apply w-full h-full;
}

.left-panel {
  @apply flex flex-col items-center justify-center;
  @apply p-[17px] lg:p-[50px];
  @apply z-1;
}
.right-panel {
  background: url('@/assets/login-bg.png');
  @apply bg-gray-400 bg-cover bg-no-repeat  bg-center;
  @apply absolute lg:(relative);
}

</style>
