<template>
  <n-form :model="formData" :rules="formRules">
    <div class="flex gap-[12px] justify-center lg:justify-start">
      <n-form-item label="開始民國年份" path="start" class="filter-item">
        <n-select
          v-model:value="formData.start"
          placeholder="開始民國年份"
          :options="startYearOptions"
          :on-update:value="startChange"
        />
      </n-form-item>

      <n-form-item label="結束民國年份" path="end" class="filter-item">
        <n-select
          v-model:value="formData.end"
          placeholder="結束民國年份"
          :options="endYearOptions"
          :on-update:value="endChange"
        />
      </n-form-item>
    </div>
  </n-form>
</template>

<script setup>
import { NForm, NFormItem, NSelect } from 'naive-ui/es'
import { ref, reactive, computed } from '@vue/reactivity'
import { onMounted } from 'vue-demi'

const emit = defineEmits(['update'])

const generateYearList = (start, end) => {
  const list = []
  for (let count = start; count < end; count++) {
    list.push(count)
  }
  return list
}
// --- Data ---
const yearList = generateYearList(75, 110)

const formData = reactive({
  start: 75,
  end: 80,
})

const formRules = {
  start: { required: true, message: '請選擇開始年份' },
  end: { required: true, message: '請選擇結束年份' },
}
// --- Computed ---
const startYearOptions = computed(() => {
  return yearList.map((year) => ({
    label: year,
    value: year,
  }))
})
const endYearOptions = computed(() => {
  return yearList.map((year) => {
    if (year > formData.start) {
      return {
        label: year,
        value: year,
      }
    }
    return {
      label: year,
      value: year,
      disabled: true,
    }
  })
})

const startChange = (year) => {
  formData.start = year
  formData.end = null
}
const endChange = (year) => {
  formData.end = year
  emit('update', {
    start: formData.start,
    end: formData.end,
  })
}

onMounted(() => {
  emit('update', {
    start: formData.start,
    end: formData.end,
  })
})
</script>

<style scoped lang="postcss">
.filter-item {
  @apply w-full max-w-[272px];
}
</style>
